/* Preserving aspect ratio consistently
to make a responsive square */

/* The element's width and height are 
set as a 50% percentage relative
to the parent container's dimensions */
/* .square {
  width: 50%;
  height: 50%;
} */

/* Ensuring the element's dimensions
 adapt while keeping a fixed 
 aspect ratio to make perfect square*/
.square {
  aspect-ratio: 1;
  width: 50%;
}
